.ngo-dashboard {
  display: flex;
  height: 100vh;
  background: #f4f7f6;
}

/* LEFT 1/4 */
.ngo-left {
  width: 25%;
  background: white;
  padding: 25px;
  text-align: center;
  box-shadow: 2px 0 10px rgba(0,0,0,0.1);
}

.ngo-photo {
  width: 120px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.ngo-category {
  color: #555;
  margin-bottom: 15px;
}

.edit-btn {
  background: #2e8b57;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 10px;
}

.status {
  margin-top: 10px;
  font-weight: bold;
}

.verified {
  color: green;
}

/* RIGHT 3/4 */
.ngo-right {
  width: 75%;
  padding: 30px;
}

.ngo-topbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.filters button {
  padding: 10px 15px;
  margin-right: 10px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  background: #ddd;
}

.filters .active {
  background: #2e8b57;
  color: white;
}

.post-btn {
  background: #2e8b57;
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.events-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.event-card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 8px 15px rgba(0,0,0,0.1);
}
