.filters {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.filters input {
  padding: 12px;
  width: 320px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.filter-buttons button {
  padding: 10px 16px;
  border-radius: 20px;
  border: 1px solid #ddd;
  background: white;
  cursor: pointer;
}

.filter-buttons .active {
  background: #10b981;
  color: white;
  border: none;
}

/* BACK BUTTON */
.back-btn {
  background: #10b981;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 20px;
}

.back-btn:hover {
  background: #059669;
}
