
.edit-profile-container {
  max-width: 500px;
  margin: 40px auto;
  padding: 25px;
  background: white;
  border-radius: 8px;
}

.edit-row {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.edit-row input {
  flex: 1;
  padding: 8px;
}


button {
  width: 100%;
  padding: 10px;
  background: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
}

.input-wrapper {
  display: flex;
  align-items: center;
  flex: 1;
  margin-left: 20px;
}

input:disabled {
  background: transparent;
  border: none;
  color: #555;
  cursor: default;
}

.active-input {
  border: 1px solid #10b981 !important; /* Prayaas Emerald */
  background: white !important;
  padding: 5px;
  border-radius: 5px;
}

.edit-icon {
  cursor: pointer;
  margin-left: 10px;
  filter: grayscale(1);
  transition: 0.2s;
}

.edit-icon:hover {
  filter: grayscale(0);
  transform: scale(1.2);
}